extends layout

block content
    include topnav
    if msg
        .alert.alert-danger
            "#{msg}"
    .row
        .col-md-6
            h1 Add a Song
            form(role="form", method="post", action="")
                .form-group
                    label(for="title") Title
                    input#title.form-control(name="title", type="text", value=song.title)
                .form-group
                    label(for="author") Author
                    input#singer.form-control(name="author", type="text", value=song.author)
                .form-group
                    label(for="year") Year Published
                    input#singer.form-control(name="year", type="text", value=song.year)
                .form-group
                    label(for="lang") Language
                    select#language.form-control(name="lang", value=song.lang)
                        option(value="english") English
                        option(value="mandarin") Mandarin
                        option(value="spanish") Spanish
                        option(value="portuguese") Portuguese
                .form-group
                    label(for="copyright") Copyright
                    select#copyright.form-control(name="copyright", value=song.copyright)
                        option Public
                        option CC0
                .form-group
                    label(for="lyric") Lyric
                    textarea#lyric.form-control(name="lyric", rows='20') !{song.lyric}

                button.btn.btn-primary(type="submit") Add Song
