extends layout

block content
    include topnav
    h1 Discover Songs
    #discoverBox
    //- #filterOption
    #songlistTable
    

    script.
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var currentInLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
        var langsExist = !{JSON.stringify(langsExist).replace(/<\//g, "<\\/")}
        var playlistName = m.prop(!{JSON.stringify(playlistName).replace(/<\//g, "<\\/")})
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/playlistDropdown.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/showSongsIn.js')
    script(src='/dist/javascripts/hasTranslationsIn.js')
    script(src='/dist/javascripts/searchBox.js')
    script(src='/dist/javascripts/songlistTable.js')
    script(src='/dist/javascripts/discover.js')
    script.
        discover.init()
        
    
