extends layout

block content
    include topnav
    .row
        .col-md-6
            h1 Edit Song
            form(role="form", method="post", action="")
                .form-group
                    label(for="oriSong") Original Song
                    input#singer.form-control(name="oriSong", type="text", value=song.oriSong, placeholder='This is Original Song', readonly)
                .form-group
                    label(for="title") Translated Title
                    input#title.form-control(name="title", type="text", value=song.title)
                .form-group
                    label(for="author") Author
                    input#singer.form-control(name="author", type="text", value=song.author)
                .form-group
                    label(for="lang") Language
                    select#language.form-control(name="lang", value=song.lang)
                        option(value="english") English
                        option(value="mandarin") Mandarin
                        option(value="spanish") Spanish
                        option(value="portuguese") Portuguese
                .form-group
                    label(for="lyric") Lyric
                    textarea#lyric.form-control(name="lyric", rows='20') !{lyric}

                button.btn.btn-primary(type="submit") Apply
