extends layout

block content
    include topnav
    h1 Preview
    each songs in songss
        -var i = 0
        -var j = 0
        -while (i < songs.length && j < songs.length)
            table.table(style='text-align: center;')
                thead
                    th(style='text-align: center') #{songs[i].title}
                    -i++
                    - while(i % 3 !== 0 && i < songs.length)
                        th(style='text-align: center') #{songs[i].title}
                        -i++
                tbody
                    tr
                        td
                            each line in songs[j].lyric
                                - if (line === '')
                                    br
                                - else
                                    !{line}
                                    br
                        -j++
                        -while(j % 3 !== 0 && j < songs.length)            
                            td
                                each line in songs[j].lyric
                                    - if (line === '')
                                        br
                                    - else
                                        !{line}
                                        br
                            -j++
    //- each songs in songss
    //-     .row
    //-     each song in songs
    //-         .col-md-6
    //-             div(style='text-align: center')
    //-                 h3 #{song.title}
    //-                 <p>
    //-                 each line in song.lyric
    //-                     - if (line === '')
    //-                         br
    //-                     - else
    //-                         !{line}
    //-                         br
    //-                 </p>
    form(method='post', role='form', action='')
        button.btn.btn-primary.btn-lg Export
    a.btn.btn-success.btn-lg(href='/') Back to Home Page
    
