extends layout

block content
    each songs in songss
        -var i = 0
        -var j = 0
        -while (i < songs.length && j < songs.length)
            table.table(style='text-align: center; page-break-after: always')
                thead
                    th(style='text-align: center') #{songs[i].title}
                    -i++
                    - while(i % 3 !== 0 && i < songs.length)
                        th(style='text-align: center') #{songs[i].title}
                        -i++
                tbody
                    tr
                        td
                            -for(var x = 0; x < minLine; x++)
                                - if (songs[j].lyric[x] === '')
                                    br
                                - else
                                    !{songs[j].lyric[x]}
                                    br
                        -j++
                        -while(j % 3 !== 0 && j < songs.length)            
                            td
                                -for(var x = 0; x < minLine; x++)
                                    - if (songs[j].lyric[x] === '')
                                        br
                                    - else
                                        !{songs[j].lyric[x]}
                                        br
                            -j++
    //- tr
    //-     -for(var i = 0; i < songs.length; i++)
    //-         -if (i % 3 === 0)
    //-             div(style='page-break-after: always')
    //-                 td
    //-                     each line in songs[i].lyric
    //-                         - if (line === '')
    //-                             br
    //-                         - else
    //-                             !{line}
    //-                             br
    //-         -else
    //-             td
    //-                 each line in songs[i].lyric
    //-                     - if (line === '')
    //-                         br
    //-                     - else
    //-                         !{line}
    //-                         br
