extends layout

block content
    each songs in songss
        table.table(style='text-align: center; page-break-after: always')
            thead
                tr
                    each song in songs
                        th(style='text-align: center') #{song.title}
            tbody
                tr
                    each song in songs
                        td
                            each line in song.lyric
                                - if (line === '')
                                    br
                                - else
                                    !{line}
                                    br
    
//-                 a(href='/songlist/#{song.id}', font-size="5em") #{song.title}
//-             td #{song.author}
//- 
//- thead
//-   t
//- tbody
//-   tr
//-     h6(style='text-align: center; column-count: 2') #{song.title}
//- <p style="font-size: 0.5em; text-align: center"> 
//- each line in song.lyric
//-     - if (line === '')
//-         br
//-     - else
//-         !{line}
//-         br
//- </p>
