extends layout

block content
    include topnav
    header#header(style="text-align: center; margin-bottom: 90px")
        img(src='/images/glorifylogo400x100.png' style='height: 80px; margin-bottom: 50px')
        p Find Public Domain and CC0 Worship Song in Multiple Language
        #searchBox(style='width: 30em; margin: auto')
        br

    h1 Why Does This Matter?

    h1 Get Started
    .row
        .col-xs-6.col-md-4
            a.thumbnail.home(href='#')
              h3 Create a slide of multiple language song lyrics
        .col-xs-6.col-md-4
            a.thumbnail.home(href='/songlist')
              h3 Discover songs
        .col-xs-6.col-md-4
            a.thumbnail.home(href='#')
              h3 Contribute to cc0 songs
    //- #filterOption
    //- if messages.error
    //-     .alert.alert-danger
    //-         p #{messages.error}
    //- #songlistTable

    script.
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var currentInLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(isLoggedIn).replace(/<\//g, "<\\/")}
        var langsExist = !{JSON.stringify(langsExist).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/playlistDropdown.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/showSongsIn.js')
    script(src='/dist/javascripts/hasTranslationsIn.js')
    script(src='/dist/javascripts/searchBox.js')
    script(src='/dist/javascripts/songlistTable.js')
    script(src='/dist/javascripts/home.js')
    script.
        home.init()
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
