extends layout

block content
    include topnav
    header#header(style="text-align: center; margin-bottom: 90px")
        img(src='/images/glorifylogo400x100.png' style='height: 80px; margin-bottom: 50px')
        p Find Public Domain and CC0 Worship Songs in Multiple Languages
        #searchBox(style='width: 30em; margin: auto')

    h2 Why Does This Matter?
    p.
       Revelation 7 says that people from every language and every part of the world will be praising God together. And yet, many worship songs that are sung in churches right now originate from English-speaking countries and are copyrighted. Churches are legally required to pay in order to perform, display, print, and even translate worship songs. And license requirements also vary depending on the country.

    p.
      We want to see the Church unleashed from the status quo. We want to see the Church united in worship across language and culture. We want to see the Church be able to worship freely. That's why we built Glorify.cc.

    p.
      Glorify.cc enables churches to sing praises in multiple languages together. It's a platform that empowers the global church to share their songs with one another and to contribute translations so others can join in. All songs and translations are available under the CC0 license, so the Church can come together and worship freely.

    p Make Revelation 7 a reality in your church today, sign up with Glorify.cc.

    h2 Get Started
    .row
        .col-xs-12.col-sm-6.col-md-4
            a.thumbnail(href='#')
              img.img-responsive(alt="create slides" src="images/create-feature-img.jpeg")
              div.caption
                h3 Create lyrics slides in multiple languages
                p Easily create slides in multiple languages so people can worship together in their heart language.
        .col-xs-12.col-sm-6.col-md-4
            a.thumbnail(href='/songlist')
              img.img-responsive(alt="discover songs" src="images/discover-feature-image.jpeg")
              div.caption
                h3 Discover songs
                p Discover music you can freely use for corporate worship.
        .col-xs-12.col-sm-6.col-md-4
            a.thumbnail(href='#')
              img.img-responsive(alt="share songs" src="images/share-feature-image.jpeg")
              div.caption
                h3 Share your songs and contribute translations
                p Contribute music you've created under the CC0 license so that people around the world can freely translate and sing your songs.
    //- #filterOption
    //- if messages.error
    //-     .alert.alert-danger
    //-         p #{messages.error}
    //- #songlistTable

    script.
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var currentInLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(isLoggedIn).replace(/<\//g, "<\\/")}
        var langsExist = !{JSON.stringify(langsExist).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/playlistDropdown.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/showSongsIn.js')
    script(src='/dist/javascripts/hasTranslationsIn.js')
    script(src='/dist/javascripts/searchBox.js')
    script(src='/dist/javascripts/songlistTable.js')
    script(src='/dist/javascripts/home.js')
    script.
        home.init()
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
