extends layout

block content
    include topnav
    //- form(role="form", action="/contacts?_method=put", method="post")
    //-     input(type="text", name="search", placeholder="Search..")
    h1 Your Song Library
    br
    table.table.table-inverse
        thead
            th Title
            th Author
        tbody
            each song in songs
                tr
                    td 
                        a(href='/songlist/#{song.id}', font-size="5em") #{song.title}
                    td #{song.author}
                    td
                        button.btn.btn-warning(id='#{song.id}') Add to Playlist
                    
                                  
    script(type='text/javascript').
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        //- console.log(songs)
    script(src='/javascripts/library.js')
