extends layout

block content
    include topnav
    <!-- Button trigger modal -->
    .row
        .col-md-6
            h1 #{song.title}
            h3 by #{song.author}
            h4 Copyright: #{song.copyright}
            h4 Contributor: #{song.contributor}
        if isTranslationExisted
            .col-md-6
                h1 #{rightTranslation.title}
                h3 by #{song.author}
                h4 Copyright: #{rightTranslation.copyright}
                h4 Contributor: #{rightTranslation.contributor}

    br
    br
    .row
        .col-md-6.pull-right
            .form-group
                label(for="language") Language
                select#myselect.form-control.capitalize(name="language", default="none", onChange= 'window.location.href=this.value')
                    option(selected) [Choose Translation]
                    for t in translations
                        option(value='?lang=' + t.lang) #{t.lang}

                        //- option(value='?lang=' + t.lang + '&v=' + t.v) #{t.lang}
                        //-     - if (t.v > 1) 
                        //-         span (ver.#{t.v})

                //- for translation in translations
                //-     option.capitalize(value="#{translation.lang}") #{translation.lang}



    .row
        .col-md-6
            h4.capitalize=song.lang
            <p> 
            each line in song.lyric
                - if (line === '')
                    br
                - else
                    !{line}
                    br
            </p>        

        .col-md-6
            if isTranslationExisted 
                h4.capitalize #{rightTranslation.lang}
                <p> 
                each line in rightTranslation.lyric
                    - if (line === '')
                        br
                    - else
                        !{line}
                        br
                </p>     
            a.btn.btn-primary(href='#{song.id}/add-translation') Add Translation
            //- if isTranslationExisted
            //-     h4.capitalize #{rightTranslation.lang}
            //-         - if (rightTranslation.v > 1) 
            //-             span  (Ver.#{rightTranslation.v})
            //-     <p> 
            //-     each line in rightTranslation.lyric
            //-         - if (line === '')
            //-             br
            //-         - else
            //-             !{line}
            //-             br
            //-     </p>     
            //- a.btn.btn-primary(href='#{song.id}/add-translation') Add Translation
        //- .col-md-6
        //-     for translation in translations
        //-         p(id='#{translation.lang}' hidden) #{translation.lyric}

    br
    button#myBtn.btn.btn-success.btn-block(data-toggle="modal" data-target="#myModal") Add to Song Chart
    #myModal.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header(style="padding: 35px 50px")
                    button.close(type="button" data-dismiss="modal") &times;
                    h4#songcart Add to Songcart
                .modal-body(style="padding: 40px 50px")
                    p Select Translations to add
                    form(role="form" method="post" action="")
                        .form-group
                            .checkbox
                                label
                                    input(name='song' type='checkbox' value='#{song.id}')
                                    span.capitalize #{song.lang} 
                            for t in translations
                                .checkbox
                                    label
                                        input(name="song" type='checkbox' value='#{t.id}')
                                        span.capitalize #{t.lang}
                            button.btn.btn-success(type="submit") Done
