extends layout

block content
    include topnav
    .row
        .col-md-6
            h1 #{song.title}
            h3 by #{song.author}
            h4 Copyright: #{song.copyright}
            h4 Contributor: #{song.contributor}
        if isTranslationExisted
            .col-md-6
                h1 #{rightTranslation.title}
                h3 by #{song.author}
                h4 Copyright: #{rightTranslation.copyright}
                h4 Contributor: #{rightTranslation.contributor}

    br
    br
    .row
        .col-md-6.pull-right
            .form-group
                label(for="language") Language
                select#myselect.form-control.capitalize(name="language", default="none", onChange= 'window.location.href=this.value')
                    option(selected) [Choose Translation]
                    for t in translations
                        option(value='?lang=' + t.lang) #{t.lang}
    .row
        .col-md-6
            h4.capitalize=song.lang
            <p> 
            each line in song.lyric
                - if (line === '')
                    br
                - else
                    !{line}
                    br
            </p>        

        .col-md-6
            if isTranslationExisted 
                h4.capitalize #{rightTranslation.lang}
                <p> 
                each line in rightTranslation.lyric
                    - if (line === '')
                        br
                    - else
                        !{line}
                        br
                </p>  
                -if(!(login && user.username == "admin"))  
                    #translation 
            br 
            -if(login && user.username == "admin")
                a.btn.btn-primary(href='#{song.id}/add-translation') Add Translation
    br
    -if(!(login && user.username == "admin"))
        #song
    script.
        var song = !{JSON.stringify(song).replace(/<\//g, "<\\/")}
        var translation = !{JSON.stringify(rightTranslation).replace(/<\//g, "<\\/")}
    script(src='/javascripts/songButton.js')
