extends layout

block content
    include topnav

    .row
        .col-xs-6
            h1 #{song.title}
            h3 by #{song.author}
            if song.translator
                p Translated by #{song.translator}
            if song.contributor
                p Contributor: #{song.contributor}
            if song.copyright
                p Copyright: #{song.copyright}
        if isTranslationExisted
            .col-xs-6
                h1 #{rightTranslation.title}
                h3 by #{song.author}
                p Translated by
                p Contributor: #{rightTranslation.contributor}
                p Copyright: #{rightTranslation.copyright}

    br
    br
    .row
        .col-xs-offset-6.col-xs-6
            .form-group
                label(for="language") Language
                select.form-control.capitalize.selectpicker(title='Choose Translation' onChange= 'window.location.href=this.value' style='color: white')
                    optgroup
                        option(value='/song/#{song._id}/add-translation') Add Translation
                    optgroup
                        for t in translations
                            option(value='?lang=' + t.lang) #{t.lang}
    .row
        .col-xs-6
            #song
            h4.capitalize=song.lang
        .col-xs-6
            if isTranslationExisted
                #translation
                h4.capitalize #{rightTranslation.lang}
    -var higher = (song.lyric.length > data.lyric.length) ? song.lyric.length : data.lyric.length 
    -for (var i = 0; i < higher; i++)
        .row
            .col-xs-6
                if song.lyric[i]
                    each line in song.lyric[i]
                        span #{line}
                        br
                    br            
            .col-xs-6
                -if(isTranslationExisted && rightTranslation.lyricp[i])
                    each line in rightTranslation.lyric[i]
                        span #{line}
                        br
                br
    #songPlaylistModal
    #translationPlaylistModal           
    script.
        var song = !{JSON.stringify(song).replace(/<\//g, "<\\/")}
        var translation = !{JSON.stringify(rightTranslation).replace(/<\//g, "<\\/")}
        var isTranslationExisted = !{JSON.stringify(isTranslationExisted).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var inLibrary = m.prop(!{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")})
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/playlistModal.js')
    script(src='/dist/javascripts/songButton.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/buttons.js')
    script(src='/dist/javascripts/songClicked.js')
        
