extends layout

block content
    h1 Song List Database
    p
        a#delete.btn.btn-default(href="#") Delete
        | 
        a.btn.btn-default(href="/songlist-db/add") Add New Song
    br
    h4 Songs
    table.table
        thead
            th
            th Title
            th Author
            th Year Published
            th Language
            th Translated by
            th Contributor
            th Copyright
        tbody
            each song in songs
                tr
                    td
                        input(type="checkbox", id=song.id)
                    td 
                        a(href='/song/#{song.id}', font-size="5em") #{song.title}
                    td #{song.author}
                    td #{song.year}
                    td.capitalize #{song.lang}
                    td
                    td #{song.contributor}
                    td.capitalize #{song.copyright}
                    td 
                        a.btn.btn-default(href='/song/#{song.id}/edit') Edit
    
    script.
        $('#delete').on('click', function(e) {
            e.preventDefault();

            $('input:checked').each(function(index, value) {
                var val = $(this).attr('id');
                console.log(val)
                console.log($(this));
                var $thisInput = $(this);

                $.ajax({
                    url: '/songlist-db/' + val,
                    type: 'DELETE'
                }).done(function() {
                    $thisInput.parents('tr').remove();
                });
            });
        });
