extends layout

block content
    .container
        .text-center
            h1 #{song.title}
            h3 by #{song.author}
            #song
        //- .row
        //-     .col-xs-6
        //-         h1 #{song.title}
        //-         h3 by #{song.author}
        //-         if song.translator
        //-             p Translated by #{song.translator}
        //-         if song.contributor
        //-             p Contributor: #{song.contributor}
        //-         if song.copyright
        //-             p Copyright: #{song.copyright}
        //-     if translationExists
        //-         .col-xs-6
        //-             h1 #{rightTranslation.title}
        //-             h3 by #{song.author}
        //-             p Translated by
        //-             p Contributor: #{rightTranslation.contributor}
        //-             p Copyright: #{rightTranslation.copyright}

        br
        br
        #chooseLanguage
        //- .row
        //-     .col-xs-6
        //-         .form-group
        //-             label(for="language") Language
        //-             select.form-control.capitalize.selectpicker(title='Choose Translation' onChange= 'window.location.href=this.value' style='color: white')
        //-                 optgroup
        //-                     option(value='/song/#{song._id}/add-translation') Add Translation
        //-                 optgroup
        //-                     for t in translations
        //-                         option(value='?lang=' + t.lang) #{t.lang}
        //-     .col-xs-6
        //-         .form-group
        //-             label(for="language") Language
        //-             select.form-control.capitalize.selectpicker(title='Choose Translation' onChange= 'window.location.href=this.value' style='color: white')
        //-                 optgroup
        //-                     option(value='/song/#{song._id}/add-translation') Add Translation
        //-                 optgroup
        //-                     for t in translations
        //-                         option(value='?lang=' + t.lang) #{t.lang}

        //- .row
        //-     .container.col-xs-6
        //-         #song
        //-         h4.capitalize=song.lang
        //-     .container.col-xs-6
        //-         if translationExists
        //-             #translation
        //-             h4.capitalize #{rightTranslation.lang}
        //- table.table
        //-     thead
        //-         th #{song.title}
        //-         th #{rightTranslation.title}
        //-     -for (var i = 0; i < song.lyric.length; i++)
        //-         tbody
        //-             tr
        //-                 td
        //-                     p
        //-                         each line in song.lyric[i]
        //-                             span #{line}
        //-                             br
        //-                 if translationExists
        //-                     td
        //-                         p
        //-                             each line in rightTranslation.lyric[i]
        //-                                 span #{line}
        //-                                 br
        //-     #songPlaylistModal  
        //-     #translationPlaylistModal
        .row
            .container.col-xs-6
                //- #song
            .col-xs-6
                if translationExists
                    //- #translation
        .row
            .col-xs-6
                h4.capitalize=song.lang
            .col-xs-6
                h4.capitalize #{rightTranslation.lang}
        -for (var i = 0; i < song.lyric.length; i++)
            -var classLabel = i % 2
            .row
                .container.col-xs-6
                    each line in song.lyric[i]
                        span #{line}
                        br
                    br            
                .container.col-xs-6
                    if translationExists
                        each line in rightTranslation.lyrics[i]
                            span #{line}
                            br
                    br
            #songPlaylistModal  
            #translationPlaylistModal           
    script.
        var song = !{JSON.stringify(song).replace(/<\//g, "<\\/")}
        var translation = !{JSON.stringify(rightTranslation).replace(/<\//g, "<\\/")}
        var translationExists = !{JSON.stringify(translationExists).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var inLibrary = m.prop(!{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")})
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
        var translations = !{JSON.stringify(translations).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/playlistModal.js')
    script(src='/dist/javascripts/songButton.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/chooseLanguage.js')
    script(src='/dist/javascripts/buttons.js')
    script(src='/dist/javascripts/songClicked.js')
