extends layout

block content
    include topnav
    .row
        .col-xs-6
            h1 #{song.title}
            h3 by #{song.author}
            h4 Copyright: #{song.copyright}
            h4 Contributor: #{song.contributor}
        if isTranslationExisted
            .col-xs-6
                h1 #{rightTranslation.title}
                h3 by #{song.author}
                h4 Copyright: #{rightTranslation.copyright}
                h4 Contributor: #{rightTranslation.contributor}

    br
    br
    .row
        .col-xs-6.pull-right
            .form-group
                label(for="language") Language
                select#myselect.form-control.capitalize(name="language", default="none", onChange= 'window.location.href=this.value')
                    option(selected) [Choose Translation]
                    for t in translations
                        option(value='?lang=' + t.lang) #{t.lang}
    .row
        .col-xs-6
            h4.capitalize=song.lang
            <p> 
            each line in song.lyric
                - if (line === '')
                    br
                - else
                    !{line}
                    br
            </p> 
            //- if messages.error
            //-     .alert.alert-danger
            //-         div = messages.error
            -if(!(login && user.username == "admin"))
                #song      
        .col-xs-6
            if isTranslationExisted 
                h4.capitalize #{rightTranslation.lang}
                <p> 
                each line in rightTranslation.lyric
                    - if (line === '')
                        br
                    - else
                        !{line}
                        br
                </p> 
                //- if messages.error
                //-     .alert.alert-danger
                //-         div = messages.error 
                -if(!(login && user.username == "admin"))  
                    #translation
            br 
            -if(login && user.username == "admin")
                a.btn.btn-primary(href='#{song.id}/add-translation') Add Translation

    script.
        var song = !{JSON.stringify(song).replace(/<\//g, "<\\/")}
        var translation = !{JSON.stringify(rightTranslation).replace(/<\//g, "<\\/")}
        var isTranslationExisted = !{JSON.stringify(isTranslationExisted).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var inLibrary = m.prop(!{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")})
    script(src='/dist/javascripts/songButton.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/playlistDropdown.js')
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/buttons.js')
    script.
        m.mount(document.getElementById('song'), m(buttonsComponent.buttons, {_id: song._id}))
        if (isTranslationExisted) {
            m.mount(document.getElementById('translation'), m(buttonsComponent.buttons, {_id: translation._id}))
        }
