extends ../layout

block content
    include previewHeader
    #exportOption
    include exportButton
    //Note: songs2d = [[Songs that the user checked]]
    each songs in songs2d
        -var i = 0
        -var j = 0
        -while (i < songs.length && j < songs.length)
            table.table.text-center(style='page-break-after: always')
                thead
                    th.text-center #{songs[i].title}
                    -i++
                    - while(i % 3 !== 0 && i < songs.length)
                        th.text-center #{songs[i].title}
                        -i++
                tbody
                    -for(var index = 0; index < songs[0].lyrics.length; index++)
                        tr
                            td
                                -for(var x = 0; x < songs[j].lyrics[index].length; x++)
                                  span !{songs[j].lyrics[index][x]}
                                  br
                                br
                            -j++
                            -while(j % 3 !== 0 && j < songs.length)
                                td
                                    -for(var x = 0; x < songs[j].lyrics[index].length; x++)
                                        span !{songs[j].lyrics[index][x]}
                                        br
                                -j++
                            -j = 0
    include exportButton

    script.
        var maxNumberOfSongs = !{JSON.stringify(maxNumberOfSongs).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
      glorifyApp.initExportOption(document.getElementById('exportOption'), 0, maxNumberOfSongs);
