doctype html
html
    head
        include ../headContent
    body
        //this var is to omit the searchbox on topbar
        -var withoutSearchbox = true;
        include ../importJS
        include ../header
        .container-fluid
            h1 Discover Songs
            p.lead Find Public Domain and CC0 Worship Songs in Many Languages
            #discoverBox
            include ../partials/googleads

            #songlistTable

        script.
            var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
            var currentInLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
            var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
            var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
            var langsExist = !{JSON.stringify(langsExist).replace(/<\//g, "<\\/")}
            var selectedPlaylistId = !{JSON.stringify(selectedPlaylistId).replace(/<\//g, "<\\/")}
        script(src='/dist/js/index.js')
        script.
          glorifyApp.initDiscover({
            songs: songs,
            currentInLibrary: currentInLibrary,
            playlists: playlists,
            isLoggedIn: isLoggedIn,
            langsExist: langsExist,
            selectedPlaylistId: selectedPlaylistId
          });
