extends ../layout

block content

    h2 Available Language:
    if success_messages[0]
        .alert.alert-success
            each success_message in success_messages
                p #{success_message}
    if error_messages[0]
        .alert.alert-danger
            each error_msg in error_messages
                p #{error_msg}  

    ol
        each language in languages
            li(id=`${language.code}`)
              span.display
                a(href="#" onclick=`editLanguage('${language.code}')`) #{language.label}
                span &nbsp; (#{language.code})
              form.editor(style="display:none" method="post" action="/language")
                input(type="hidden" name="code" value=`${language.code}`)
                input.form-control(name="label" value=`${language.label}`)
                button(type="submit").btn.btn-primary Save
                a(href="#").btn.btn-default(onclick=`deleteItem('${language.code}')`) Delete
                a(href="#").btn.btn-default(onclick=`cancelEdit('${language.code}')`) Cancel

    form.add(method='post')
        .col-xs-3.form-group
            label Language label:
            input.form-control(name='label')
            label Language code:
            input.form-control(name='code')
            button.btn.btn-default Add

    script(type="text/javascript").
        var permit = true;
        
        function editLanguage (code) {
          if (permit){
            permit = false;
            $('#' + code + ' .display').hide();
            $('.add').hide();
            $('#' + code + ' .editor').show();
          }
        }

        function cancelEdit (code) {
          permit = true;
          $('#' + code + ' .display').show();
          $('.add').show();
          $('.editor').hide();
        }

        function deleteItem (code) {
          permit = true;
          $('#' + code + ' .display').show();
          $('.add').show();
          $('.editor').hide();          
          if (confirm('Do you want to delete this language?')) {
            m.request({
              method: 'DELETE',
              url: '/language',
              data: {
                code: code
              }
            })
            .then(function(result) {
              document.getElementById(code).remove();
            })
          }
        }

        //- show the result what is done.
        //- let the message show for 2.5 seconds and then refresh
        $(document).ready(function() {
          setTimeout(function() {
            $('.alert').alert('close');
          }, 2500);
        });

