extends ../layout

block content
    .container
        .text-center
            h1 #{leftSong.title}
            p.lead by #{leftSong.author}
            #groupSong
        br
        br
        #chooseLanguage
        .row
            .col-xs-6
                ul.list-inline
                    li
                        #leftSongLikeButton
                    li
                        h3 #{leftSong.title}
                p.lead #{leftSong.lang.label}
            .col-xs-6
                if rightSongExists
                    ul.list-inline
                        li
                            #rightSongLikeButton.inline-block
                        li
                            h3.inline-block #{leftSong.title}
                    p.lead #{rightSong.lang.label}
        -for (var i = 0; i < leftSong.lyrics.length; i++)
            .row
                .container.col-xs-6
                    each line in leftSong.lyrics[i]
                        span #{line}
                        br
                    br
                .container.col-xs-6
                    if rightSongExists
                        each line in rightSong.lyrics[i]
                            span #{line}
                            br
                    br
            #songPlaylistModal
            #translationPlaylistModal
    script.
        var leftSong = !{JSON.stringify(leftSong).replace(/<\//g, "<\\/")}
        var rightSong = !{JSON.stringify(rightSong).replace(/<\//g, "<\\/")}
        var rightSongExists = !{JSON.stringify(rightSongExists).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var inLibrary = m.prop(!{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")})
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
        var translations = !{JSON.stringify(translations).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/chooseLanguage.js')
    script(src='/dist/javascripts/playlistModal.js')
    script(src='/dist/javascripts/songButton.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/addOrDeleteButton.js')
    script(src='/dist/javascripts/buttons.js')
    script(src='/dist/javascripts/songClicked.js')
